<div class="container">
  <div class="form-group card">
    <form [formGroup]="loginForm" novalidate (submit)="onSubmitLogin(loginForm)">
      <div>
        <mat-form-field appearance="outline" class="form-control">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required/>
          <mat-error *ngIf="loginForm.controls.email.errors?.required &&
            (isSubmitted || loginForm.controls.email.dirty)">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="form-control">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Enter your password"
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required/>
          <mat-icon matTooltip="Show/hide password" matTooltipPosition="right" matSuffix (click)="hidePassword = !hidePassword">{{!hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="loginForm.controls.password.errors?.required &&
            (isSubmitted || loginForm.controls.password.dirty)">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div style="margin: 10px 0px;">
        Fields marked with <strong><span class="required">*</span></strong> are required.
      </div>
      <button type="submit" mat-raised-button color="primary">Login</button>
      <div class="status-feedback" *ngIf="status == STATUS_SENDING_REQUEST">
        Sending request...
      </div>
      <div class="status-feedback" *ngIf="status == STATUS_SUCCESS_LOGIN">
        Logged in.
      </div>
      <div class="status-feedback" *ngIf="status == STATUS_NETWORK_ERROR">
        Could not connect with the server. Please try again later.
      </div>
      <div class="status-feedback" *ngIf="status == STATUS_CUSTOM_MESSAGE">
        {{ message }}
      </div>
    </form>
  </div>
</div>
