<div class="item">
  <div class="grid-container">
    <div class="thumbnail"><img src="{{ item.product.thumbnailUri }}"></div>
    <div class="name">{{ item.product.name }}</div>
    <div class="description">{{ item.product.shortDescription }}</div>
    <div class="operation subtract"><button class="btn" (click)="removeItem()">-</button></div>
    <div class="quantity">{{ item.quantity }}</div>
    <div class="operation add"><button class="btn" (click)="addItem()">+</button></div>
    <div class="price">{{ item.product.price }}</div>
    <div class="cost">Cost: {{ item.product.price * item.quantity }}</div>
  </div>
</div>
