.container {
    padding: 0;
    margin: 0;
}

.item {
    padding: 5px;
    background: rgb(240, 240, 240);
    margin: auto;
    margin-top: 10px;
    width: 50%;
}

.operation {
    width: 32px;
    height: 32px;
    background: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation:hover{
    background: rgb(190, 190, 190);
    cursor: pointer;
}
