<div class="container">
  <div class="form-group card">
    <form [formGroup]="registerForm" novalidate (submit)="onSubmitRegister(registerForm)">
      <div>
        <mat-form-field appearance="outline" class="form-control">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error
            *ngIf="registerForm.controls.email.errors?.required &&
              (registerForm.isSubmitted || registerForm.controls.email.dirty)">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="!registerForm.controls.email.errors?.required &&
              registerForm.controls.email.errors?.email &&
              (registerForm.isSubmitted || registerForm.controls.email.dirty)">
            Not valid <strong>email</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="" formGroupName="passwords">
        <div>
          <mat-form-field appearance="outline" class="form-control">
            <input
              matInput
              #passwordInput
              placeholder="Password"
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              required/>
            <mat-icon matTooltip="Show/hide password" matTooltipPosition="right" matSuffix (click)="hidePassword = !hidePassword">{{!hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint align="start">Minimum 4 characters</mat-hint>
            <mat-hint align="end" *ngIf="passwordInput.value?.length < 4">{{passwordInput.value?.length || 0}}/4</mat-hint>
            <mat-error
              *ngIf="registerForm.controls.passwords.controls.password.errors?.required &&
                (registerForm.isSubmitted || registerForm.controls.passwords.controls.password.dirty)">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="form-control">
            <input
              matInput
              placeholder="Confirm password"
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
              required
              [errorStateMatcher]="matcher"/>
            <mat-icon matTooltip="Show/hide password" matTooltipPosition="right" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{!hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error
              *ngIf="registerForm.controls.passwords.controls.confirmPassword.errors?.required &&
                (registerForm.isSubmitted || registerForm.controls.passwords.controls.confirmPassword.dirty)">
              Confirmation password is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="registerForm.controls.passwords.errors?.mismatch &&
                !registerForm.controls.passwords.controls.confirmPassword.errors?.required &&
                (registerForm.controls.passwords.controls.confirmPassword.dirty || registerForm.isSubmitted)">
              Passwords must <strong>match</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div style="margin: 10px 0px;">
        Fields marked with <strong><span class="required">*</span></strong> are required.
      </div>
      <button type="submit" mat-raised-button color="primary">Register</button>
      <!-- <div class="status" *ngIf="status == STATUS_INVALID_FORM">
        Please fill all fields marken with <span class="required">*</span>.
      </div>
      <div class="status" *ngIf="status == STATUS_SENDING_REQUEST">
        Sending request...
      </div>
      <div class="status" *ngIf="status == STATUS_SUCCESS_LOGIN">
        Logged in.
      </div> -->
    </form>
  </div>
</div>
