$backgroundColor: #48cfad;

.category {
  text-align: center;
  padding: 5px;
}

.category:hover {
  cursor: pointer;
  /*background: #ddd;*/
  background: $backgroundColor;
  color: #fff;
}

.active {
  background: lighten($backgroundColor, 15);
  font-style: italic;
}
