<div class="product-card" (onDescriptionClicked)="receiveEvent($event);">
  <div class="product-card-thumbnail" (click)="productClicked()">
    <img src="{{ product.imageUri }}">
  </div>
  <div class="product-card-details">
    <h2 class="product-card-name">
      {{ product.name }}
    </h2>
    <div class="price">
      <span class="current-price">{{ product.price }}</span>
    </div>
    <div class="product-card-description" (click)="descriptionClicked()">
      {{ product.shortDescription }}
    </div>
    <div class="cart-sign" (click)="onCartIconClicked()"><fa name="cart-plus" size="2x"></fa></div>
  </div>
</div>
