<div class="product-card">
  <div class="product-card-thumbnail">
    <img src="{{ product.thumbnailUri }}">
  </div>
  <div class="product-card-details">
    <h2 class="product-card-name">
      {{ product.name }}
    </h2>
    <div class="price">
      <span class="current-price">{{ product.price }}</span>
    </div>
    <div class="product-card-description">
      {{ product.shortDescription }}
    </div>
    <div class="cart-sign" (click)="onCartIconClicked()"><fa name="cart-plus" size="2x"></fa></div>
  </div>
</div>
